extends index.pug

block variables
  - var lang = 'en'
  - var locale = 'en_US'
  - var current = 'EN'
  - var description = 'This is the missing space for your product to develop through design.'
block content
  p There are no limits when you want to turn problems into 
    i solutions.
  p This is the missing space for your 
    i product 
    | to develop through 
    i design.
  ul
    li
      a(href='https://janklever.com' target='_blank' title='Jan Klever – Site') Know who's behind
    li
      a(href='mailto:jan@klever.space' target='_blank' title='Send an email') Keep in touch